*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aa{
    display: flex;
    justify-content: center     ;
    margin-top: 58px;
    margin-bottom: 133px;
    margin-left: 140px;
    margin-left: 140px;
}
.box{
    width: 200px;
    height: 40px;
    margin-top: 104px;
    margin-left: 224px;
    border-radius: 10000000000000000px;
    background-color: #FF0101;
    padding: 50px;
    
}







.pepsi{
    width: 1160px;
    height: 833px;
    top: 58px;
    left: 140px;
    border-radius: 40px;
    background-color: #343C56;
   display: flex;
   justify-content: space-evenly;
    
}